<a href="/">Back</a>

<form>
  <input type="text" id="report_name" />
  <div id="report_query"></div>
  
  <button id="save_button" class="btn btn-primary">Save</button>
</form>

<div id="results">
</div>
