@import "bootstrap_variables.less";

.report-summary {
  color: @gray-dark;
  
  h2 { margin: 0; }
  h3 { margin: 0; }
  
  .report-author {
    font-size: 13px;
    line-height: 18px;
    display: inline-block;
    
    .report-author-name { font-weight: 700; }
    .report-age {
      font-weight: 500;
      color: rgba(60, 60, 52, 0.34);
    }
  }
}

.report-results-info {
  color: @gray-dark;
  font-size: 13px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 12px;
  
  .report-performed, .report-query-time {
    font-weight: 500;
    border-bottom: 1px dotted #bbb;
  }
}

.buttons {
  text-align: right;
}

#toggle_report_query {
  .fa::before { content: '\f06e' }
  &::after { content: 'Show query' }
  
  &.active {
    .fa::before { content: '\f070' }
    &::after { content: 'Hide query' }
  }
}
