@import "bootstrap_variables.less";

.report-title {
  background: white;
  padding: 32px @horizontal-padding 8px;
  
  input {
    width: 100%;
    border: 1px solid rgb(184, 226, 160);
    height: 42px;
    
    position: relative;
    top: -2px;
    left: -2px;
    margin: -2px 0 -4px;
  }
}

.report-query {
  background: #272822;
  transition: height 0.5s, margin 0.5s;
  height: 0px;
  overflow: hidden;
  padding: 0 @horizontal-padding;
  margin: 0 0;
  
  &.expanded {
    height: 364px;
    margin: 16px 0;
  }
}

#report_query {
  height: 300px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: @font-size-base;
  border: 1px solid #494a43;
}

.report-results {
  background: white;
  padding: 8px @horizontal-padding 32px;
}
