<div class="call-to-action">
  <%= link_to signin_url, class: "btn btn-primary btn-lg" do %>
    <i class="octicon octicon-mark-github"></i>&nbsp;
    <span class="btn-text">Sign in</span>
    <span class="btn-extra">with GitHub</span>
  <% end %>
</div>
